html,
body,
div,
section,
footer,
header,
h1,
h2,
h3,
h4,
p,
a,
video,
li,
ul,
ol {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #353535;
    z-index: 9999;
}

section {
    height: 100vh;
    width: 100%;
}

ul {
    list-style: none;
}

.headerLinks {
    display: flex;
    justify-content: space-around;
}

li, .headerLinks {
    padding: 5px;
}

.headerTitle {
    padding: 10px;
}

.videoSection {
    background-color: black;
}

.videoSection video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagesSection {
    background-color: #181111;
}

.marketSection {
    background-color: #aa0c17;
}